@using EShop.Domain.ViewModels.Account
@model EShop.Domain.ViewModels.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

<main class="page-content page-auth">
    <!-- start of auth-container -->
    <div class="auth-container">
        <div class="auth-title mb-3">ثبت نام</div>
        <!-- start of auth-box -->
        <div class="auth-box ui-box">
            <!-- start of auth-form -->
            <form asp-controller="Account" asp-action="Register" method="post" class="auth-form">
                <!-- start of form-element -->

                <div class="form-element-row mb-5">
                    <input type="text" asp-for="Email" class="form-control" placeholder="ایمیل">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-element-row mb-5">
                    <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="شماره موبایل">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-element-row mb-5">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-element-row mb-5">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password">

                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="form-element-row mb-3">
                    <button type="submit" class="btn btn-primary">ادامه</button>
                </div>
                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="form-element-row">
                    <div>
                        با ورود و یا ثبت نام در سایت شما <a href="#" class="link">
                            شرایط و
                            قوانین
                        </a> استفاده
                        از تمام سرویس های
                        سایت و <a href="#" class="link">قوانین حریم خصوصی</a> آن را می‌پذیرید.
                    </div>
                </div>
                <!-- end of form-element -->
            </form>
            <!-- end of auth-form -->
        </div>
        <!-- end of auth-box -->
    </div>
    <!-- start of auth-container -->
</main>

