
@model EShop.Domain.ViewModels.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<main class="page-content page-auth">
    <!-- start of auth-container -->
    <div class="auth-container">
        <div class="auth-title mb-3">بازیابی رمز عبور</div>
        <!-- start of auth-box -->
        <div class="auth-box ui-box">
            <!-- start of auth-form -->
            <form asp-controller="Account" asp-action="ResetPassword" method="post" class="auth-form">
                <input type="hidden" asp-for="ActiveCode" value="@Model.ActiveCode"/>
                <!-- start of form-element -->
                <div class="form-element-row mb-3">
                    <label class="label">رمز عبور جدید</label>
                    <input asp-for="Password" type="text" class="form-control" placeholder="">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="form-element-row mb-3">
                    <label class="label">تکرار رمز عبور جدید</label>
                    <input asp-for="ConfirmPassword" type="text" class="form-control" placeholder="">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="form-element-row">
                    <button class="btn btn-primary">ثبت تغییرات</button>
                </div>
                <!-- end of form-element -->
            </form>
            <!-- end of auth-form -->
        </div>
        <!-- end of auth-box -->
    </div>
    <!-- end of auth-container -->
</main>
