@model EShop.Domain.ViewModels.Products.Product_Specification.SpecificationProductViewModel

@{
    ViewData["Title"] = "ویرایش مشخصه محصول";
    var specifications = ViewBag.Specifications as List<EShop.Domain.ViewModels.Products.Specification.DetailsSpecificationViewModel>;
}

<form method="post" asp-action="Update" asp-route-mappingId="@Model.SpecificationId">
    <div class="d-flex flex-column align-items-center">
        <div class="mb-3 w-50">
            <label class="form-label">مشخصه</label>
            <select asp-for="SpecificationId" class="form-control">
                @foreach (var spec in specifications)
                {
                    <option value="@spec.Id" selected="@(spec.Id == Model.SpecificationId ? "selected" : null)">@spec.Name</option>
                }
            </select>
            <span asp-validation-for="SpecificationId" class="text-danger"></span>
        </div>
        <div class="mb-3 w-50">
            <label class="form-label">مقدار</label>
            <input asp-for="Value" class="form-control" />
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>
        <div class="mb-3 w-50 text-center">
            <button type="submit" class="btn btn-primary">ویرایش</button>
            <a asp-action="List" class="btn btn-secondary">بازگشت</a>
        </div>
    </div>
</form>