
@model AddProductColorViewModel
@using EShop.Domain.ViewModels.Colors

@using EShop.Domain.Entities.Colors
@{
    ViewData["Title"] = "افزودن مپینگ رنگ محصول";
    //var colors = ViewBag.Colors != null ? ViewBag.Colors as List<ColorListsViewModel> : new List<ColorListsViewModel>();
    var colors = ViewBag.Colors as List<ColorListsViewModel> ?? new List<ColorListsViewModel>();
}


<div class="col-xxl">
    <div class="card mb-4">
        <h5 class="card-header">افزودن مپینگ رنگ محصول</h5>
        <form asp-area="Admin" asp-controller="Product" asp-action="AddProductColorMapping" method="post" class="card-body">
            <input type="hidden" asp-for="ProductId" />

            <div class="form-group">
                <label>رنگ محصول</label>
                <select asp-for="SelectedColorId" class="form-control" asp-items="@(new SelectList(colors, "ColorId", "Name"))">
                    <option value="">-- لطفا رنگ را انتخاب کنید --</option>
                </select>
                @*<span asp-validation-for="SelectedColorId" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <label>قیمت محصول</label>
                <input  type="number" asp-for="Price" class="form-control"  />

            </div>

            <div class="form-group">
                <label>مابه تفاوت</label>
                <input type="number" asp-for="DisparityAmount" class="form-control" min="-2000000" max="2000000" />

            </div>

            <div class="pt-4">
                <button type="submit" class="btn btn-primary">ایجاد مپینگ</button>
                <a asp-action="AddProductColorMapping" class="btn btn-secondary">لغو</a>
            </div>
        </form>
    </div>
</div>


