

@{
    ViewData["Title"] = "پنل کاربری";
    Layout = "_MainLayout";
}

<main class="page-content">
    <div class="container">
        <div class="row mb-5">
            <div class="col-xl-3 col-lg-4 col-md-5 mb-md-0 mb-4">
                <aside>
                    @await Component.InvokeAsync("UserSideBar")
                </aside>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                @await Component.InvokeAsync("UserInformationBar")
            </div>
        </div>
    </div>
</main>