<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<title>@ViewData["Title"] - Admin Panel</title>

<meta name="description" content="" />

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/Admin/assets/img/favicon/favicon.ico" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

<!-- Ticket Related CSS -->
<link href="/Admin/assets/vendor/css/core.css" rel="stylesheet" />
<link href="/Admin/assets/vendor/css/pages/app-chat.css" rel="stylesheet" />
<link href="/css/site.css" rel="stylesheet" />
<partial name="_AdminStyles" />

<!-- Helpers -->
<script src="/Admin/assets/vendor/js/helpers.js"></script>
<script src="/Admin/assets/vendor/js/template-customizer.js"></script>
<script src="/Admin/assets/js/config.js"></script>

<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">


<link href="/Admin/assets/css/custom.css" rel="stylesheet" asp-append-version="true" />