@* Views/Shared/_TempDataMessages.cshtml *@
<div id="tempDataMessages" style="display:none;">
    <span id="successMessage">@TempData["SuccessMessage"]</span>
    <span id="errorMessage">@TempData["ErrorMessage"]</span>
</div>