


<div style="direction: rtl; padding: 20px">
    <h2> عزیز !</h2>
    <p>
        جهت بازیابی حساب کاربری خود روی لینک زیر کلیک کنید
    </p>
    @*<p>@Model.ActiveCode</p>*@
    <p>
        <a href="https://localhost:7225/Account/ResetPassword/@Model.ActiveCode">لینک بازیابی گذرواژه</a>
    </p>
</div>


