@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using EShop.Application.Utilities.Extensions
@using EShop.Application.Utilities.Extensions.Identity
@{
    var firstName = User.GetFirstName();
    var lastName = User.GetLastName();
    var phone = User.GetPhoneNumber();
}


@if (User.Identity.IsAuthenticated)
{
    <div class="user-option user-option--account">
        <a asp-area="Users" asp-controller="Home" asp-action="Index" class="user-option-btn user-option-btn--account">
            <i class="ri-user-fill icon"></i>
            <i class="ri-arrow-down-s-fill icon fs-7 text-muted"></i>
        </a>
        <div class="user-option--dropdown user-option--dropdown-right">
            <div class="profile-user-info ui-box">
                <div class="profile-detail">
                    <div class="d-flex align-items-center">
                        <div class="profile-avatar me-3">
                            <img src="~/theme-assets/images/avatar/default.png" alt="avatar">
                        </div>
                        <div class="profile-info">
                            <a href="/users" class="text-decoration-none text-dark fw-bold mb-2">
                                @firstName @lastName
                            </a>
                            <div class="text-muted fs-7 fw-bold">@phone</div>
                        </div>
                    </div>
                    <div class="user-options">
                        <ul>
                            <li>
                                <span class="label">کیف پول</span>
                                <span class="detail">
                                    <span class="d-block">
                                        ۰ <span class="currency fs-7 fw-bold">تومان</span>
                                    </span>
                                    <a href="#"
                                       class="link border-bottom-0 text-info fs-7 fw-bold">
                                        افزایش
                                        موجودی <i class="ri-arrow-left-s-line"></i>
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span class="label">باشگاه مشتریان</span>
                                <span class="detail">
                                    <span class="d-block">
                                        ۰ <span class="score text-muted fs-7">امتیاز</span>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="nav nav-items-with-icon flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-link-icon ri-file-list-3-line"></i>
                            سفارش
                            های من
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-link-icon ri-copper-coin-fill"></i>
                            باشگاه مشتریان
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="LogOut">
                            <i class="nav-link-icon ri-logout-box-r-line"></i>
                            خروج
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
else
{
<li class="login-partial-link-li">
    <a class="login-partial-link" asp-controller="Account" asp-action="Register">ثبت نام</a>

    <span>/</span>
    <a class="login-partial-link" asp-area="" asp-controller="Account" asp-action="Login">ورود </a>
</li>
 
       
    
}