<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="app-chat overflow-hidden card">
            <div class="row g-0">
                <div class="col app-chat-history">
                    <div class="chat-history-wrapper">
                        <div class="chat-history-header border-bottom">
                            <div class="chat-history-body ps ps--active-y">
                                <!-- Search -->
                                <div class="sidebar-header pt-3 px-3 mx-1">
                                    <div class="d-flex align-items-center me-3 me-lg-0">
                                        <div class="flex-shrink-0 avatar avatar-online me-2" data-bs-toggle="sidebar" data-overlay="app-overlay-ex" data-target="#app-chat-sidebar-left">
                                            <img class="user-avatar rounded-circle cursor-pointer" src="../../assets/img/avatars/1.png" alt="Avatar">
                                        </div>
                                        <div class="flex-grow-1 input-group input-group-merge rounded-pill ms-1">
                                            <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search fs-4"></i></span>
                                            <input type="text" class="form-control chat-search-input" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon-search31">
                                        </div>
                                    </div>
                                    <i class="bx bx-x cursor-pointer position-absolute top-0 end-0 mt-2 me-1 fs-4 d-lg-none d-block" data-overlay="" data-bs-toggle="sidebar" data-target="#app-chat-contacts"></i>
                                </div>
                                <!-- Contact -->
                                <hr class="container-m-nx mt-3 mb-0">
                                <div class="sidebar-body ps ps--active-y">

                                    <ul class="list-unstyled chat-contact-list pt-1" id="chat-list">
                                        <li class="chat-contact-list-item chat-contact-list-item-title">
                                            <h5 class="text-primary mb-0">Chats</h5>
                                        </li>
                                        <li class="chat-contact-list-item chat-list-item-0 d-none">
                                            <h6 class="text-muted mb-0">No Chats Found</h6>
                                        </li>

                                        <li class="chat-contact-list-item">
                                            <a class="d-flex align-items-center">
                                                <div class="flex-shrink-0 avatar avatar-busy">
                                                    <span class="avatar-initial rounded-circle bg-label-success">CM</span>
                                                </div>
                                                <div class="chat-contact-info flex-grow-1 ms-3">
                                                    <h6 class="chat-contact-name text-truncate m-0">Calvin Moore</h6>
                                                    <p class="chat-contact-status text-truncate mb-0 text-muted">
                                                        If it takes long you can mail inbox user
                                                    </p>
                                                </div>
                                                <small class="text-muted mb-auto">1 Day</small>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                    </div>
                                    <div class="ps__rail-y" style="top: 0px; height: 690px; right: 0px;">
                                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 444px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-overlay"></div>
    </div>
</div>
<!-- / Content -->

<div class="content-backdrop fade"></div>
