<div class="widget p-0">
    <div class="widget-content widget--free-shipping">
        <div class="free-shipping--detail">
            <div class="title d-flex align-items-center"><i class="ri-truck-fill me-1"></i> ارسال رایگان سفارش</div>
            <div class="subtitle">سفارش‌های بالای ۳۰۰ هزار تومان</div>
        </div>
        <div class="free-shipping--banner">
            <img src="./theme-assets/images/theme/free-shipping--banner.png" alt="ارسال رایگان سفارش">
        </div>
    </div>
</div>