@model EShop.Domain.ViewModels.Products.Product.ClientSide.ProductDetailsViewModel

<h2 class="product-title">@Model.Title</h2>
<div class="product-en mb-3">
    <span>@Model.TitleDescription</span>
</div>
<div class="product-price fa-num">
    <span class="price-now">@Model.Price <span class="currency">تومان</span></span>
</div>
@if (!string.IsNullOrEmpty(Model.ImageName))
{
    <div class="product-image">
        <img src="/images/products/@Model.ImageName" alt="@Model.Title">
    </div>
}