<div class="ui-sticky ui-sticky-top">
    <div class="product-gallery">
        <div class="product-options">
            <ul>
                <li><a href="#"><i class="ri-heart-3-fill"></i></a></li>
                <li><a href="#" data-remodal-target="share-modal"><i class="ri-share-forward-fill"></i></a></li>
                <li><a href="#" data-remodal-target="notification-modal"><i class="ri-notification-fill"></i></a></li>
                <li><a href="#"><i class="ri-line-chart-fill"></i></a></li>
                <li><a href="#"><i class="ri-scales-3-fill"></i></a></li>
                <li><a href="#"><i class="ri-play-list-add-fill"></i></a></li>
            </ul>
        </div>
        <div class="gallery-img-container">
            <div class="gallery-img">
                <img src="./theme-assets/images/gallery/main.jpg" class="zoom-img" alt="" style="visibility: visible;">
            </div>
            <div class="gallery-thumbs">
                <ul>
                    <li data-fancybox="gallery-a" data-src="./theme-assets/images/gallery/01.png"><img src="./theme-assets/images/gallery/01.png" alt=""></li>
                    <li data-fancybox="gallery-a" data-src="./theme-assets/images/gallery/02.png"><img src="./theme-assets/images/gallery/02.png" alt=""></li>
                    <li data-fancybox="gallery-a" data-src="./theme-assets/images/gallery/03.png"><img src="./theme-assets/images/gallery/03.png" alt=""></li>
                    <li data-fancybox="gallery-a" data-src="./theme-assets/images/gallery/04.png"><img src="./theme-assets/images/gallery/04.png" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
</div>