<div class="ui-sticky ui-sticky-top mb-4">
    <div class="product-tabs">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#scrollspyHeading1" data-scroll="scrollspyHeading1">نقد و بررسی</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading2" data-scroll="scrollspyHeading2">بررسی تخصصی</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading3" data-scroll="scrollspyHeading3">مشخصات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading4" data-scroll="scrollspyHeading4">دیدگاه کاربران</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading5" data-scroll="scrollspyHeading5">پرسش و پاسخ</a>
            </li>
        </ul>
    </div>
</div>