@model dynamic

<main class="page-content">
    <div class="container">
        <!-- مسیر ناوبری اصلی (استاتیک) -->
        <partial name="_Breadcrumb" />

        <!-- بخش جزئیات محصول -->
        <div class="product-detail-container mb-5">
            <div class="row">
                <div class="col-lg-4 col-md-5 mb-md-0 mb-4">
                    <partial name="_ProductGallery" />
                </div>
                <div class="col-xl-5 col-lg-4 col-md-7 mb-lg-0 mb-4">
                    <!-- دسته‌بندی‌ها (داینامیک) -->
                    <partial name="_DetailsBreadcrumb" model="Model.MySections.ProductCategories" />

                    <!-- جزئیات محصول (داینامیک) -->
                    <partial name="_ProductDetails" model="Model.MySections.ProductDetails" />

                    <partial name="_ProductVariants" />

                    <!-- مشخصات فنی (داینامیک) -->
                    <partial name="_ProductParameters" model="Model.MySections.ProductSpecifications" />

                    <partial name="_ProductAdditionalInfo" />
                    <partial name="_FreeShippingWidget" />
                </div>
                <div class="col-xl-3 col-lg-4">
                    <partial name="_ProductSellerInfo" />
                </div>
            </div>
        </div>

        <!-- لیست فروشندگان (استاتیک) -->
        <partial name="_SuppliersList" />

        <!-- اسلایدر محصولات مشابه (استاتیک) -->
        <partial name="_ProductSlider" />

        <!-- تب‌ها و محتوا -->
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <partial name="_ProductTabs" />

                <!-- نقد و بررسی (داینامیک) -->
                <partial name="_ProductReviewSummary" model="Model.MySections.ProductReviews" />
                <partial name="_ProductReviewDetailed" model="Model.MySections.ProductReviews" />

                <partial name="_ProductSpecs" />
                <partial name="_ProductComments" />
                <partial name="_ProductQuestions" />
            </div>
            <div class="col-xl-3 col-lg-4 d-lg-block d-none">
                <partial name="_MiniBuyBox" />
            </div>
        </div>
    </div>
</main>