@model EShop.Domain.ViewModels.FAQ.FAQCreateViewModel

@{
    ViewData["Title"] = "افزودن سوال متداول";
}

<form method="post" asp-area="Admin" asp-controller="FAQ" asp-action="Create" class="add-new-user pt-0" id="addNewFAQForm">
    <div class="d-flex flex-column align-items-center">
        <div class="mb-3 w-50">
            <label class="form-label" for="add-faq-question">سوال</label>
            <div class="input-group input-group-merge">
                <span class="input-group-text"><i class="bx bx-question-mark"></i></span>
                <input type="text" asp-for="Question" class="form-control" id="add-faq-question" placeholder="سوال">
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 w-50">
            <label class="form-label" for="add-faq-answer">جواب</label>
            <div class="input-group input-group-merge">
                <span class="input-group-text"><i class="bx bx-comment"></i></span>
                <input type="text" asp-for="Answer" class="form-control" id="add-faq-answer" placeholder="جواب">
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 w-50">
            <label class="form-label" for="add-faq-Explanation">توضیحات</label>
            <div class="input-group input-group-merge">
                <span class="input-group-text"><i class="bx bx-info-circle"></i></span>
                <input type="text" asp-for="Explanation" class="form-control" id="add-faq-Explanation" placeholder="توضیحات (اختیاری)">
                <span asp-validation-for="Explanation" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 w-50 text-center">
            <button type="submit" class="btn btn-primary me-2">افزودن سوال</button>
            <button asp-action="List" asp-controller="FAQ" class="btn btn-secondary">لغو</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}